﻿ /* Основные стили */
body {
    font-family: 'Anonymous Pro', monospace; /* Тот же шрифт */
    margin: 0; /* Убираем отступы */
    background: linear-gradient(to bottom, #343946ff, #1a1d25ff); /* Градиентный фон */
    color: #ffc504; /* Цвет текста */
}

.container {
    text-align: center; /* Центрируем содержимое контейнера */
    max-width: 800px; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    font-family: 'Anonymous Pro', monospace;
    color: #3aff04; /* Цвет текста */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

p {
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Anonymous Pro', monospace;
    color: #ffc504;
    margin-bottom: 20px; /* Добавляем отступ снизу */
    text-align: justify; /* Выравниваем текст по ширине */
}

a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px 20px; /* Задаем отступы */
    border-radius: 20px; /* Делаем кнопки округлыми */
    background-color: #ffc504; /* Цвет фона кнопок */
    color: #0471ff; /* Цвет текста кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    border: 2px solid #0471ff; /* Добавляем рамку */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Плавное изменение цвета */
    margin: 0 10px; /* Добавляем отступы по бокам */
    font-weight: bold;
}

    a:hover {
        background-color: #ff0460; /* Изменяем цвет фона при наведении */
        border-color: #bfff04; /* Изменяем цвет рамки при наведении */
        color: #bfff04; /* Изменяем цвет текста при наведении */
    }

    a:active {
        transform: translateY(1px); /* Создаем эффект нажатия */
    }
/* Стили для якорей */
.anchor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, rgba(255, 192, 203, 0.7), rgba(255, 215, 0, 0.7), rgba(144, 238, 144, 0.7), rgba(135, 206, 250, 0.7), rgba(147, 112, 219, 0.7), rgba(255, 160, 122, 0.7), rgba(250, 128, 114, 0.7));
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, box-shadow 0.3s;
}

    .anchor:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    .anchor:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.anchor-up {
    bottom: auto;
    top: 20px;
}

.anchor svg {
    fill: #fff; /* Цвет стрелочек */
    width: 24px;
    height: 24px;
}