@model List<PythonLearningPortal.Models.Роли>

@{
    ViewData["Title"] = "Список ролей";
}

<style>
    body {
        background: linear-gradient(135deg, #667eea, #764ba2);
        font-family: Arial, sans-serif; /* Шрифт для текста */
    }

    h1 {
        color: #fff; /* Цвет заголовка */
        text-align: center; /* Выравнивание текста по центру */
        padding: 20px 0; /* Отступы сверху и снизу */
    }

    table {
        width: 100%; /* Ширина таблицы по всей ширине экрана */
        border-collapse: collapse; /* Скрытие границ между ячейками */
        border: 5px solid #fff; /* Цветная граница таблицы */
        border-radius: 10px; /* Скругление углов таблицы */
    }

    th, td {
        padding: 10px; /* Внутренние отступы ячеек */
        text-align: center; /* Выравнивание текста по центру */
    }

    thead {
        background-color: #fff; /* Цвет фона заголовка таблицы */
        color: #333; /* Цвет текста заголовка таблицы */
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2; /* Цвет фона для четных строк */
    }

    tbody tr:hover {
        background-color: #ddd; /* Цвет фона при наведении на строку */
    }
</style>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Код роли</th>
            <th>Название роли</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Код_роли</td>
                <td>@role.Название_роли</td>
            </tr>
        }
    </tbody>
</table>

