@model PythonLearningPortal.ViewModels.EditSubtopicViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование темы</title>
    <style>
        body {
            font-family: "Comic Sans MS", cursive, sans-serif;
            background-image: url('/images/computerinmage.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background: linear-gradient(135deg, #D3CCE3, #E9E4F0, #E6E6FA, #AFDAFC, #B4C7E7);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        label {
            font-weight: bold;
            color: #333;
        }

        .topics-list {
            margin-bottom: 20px;
        }

        .topics-list-item {
            background: linear-gradient(135deg, #D3CCE3, #E9E4F0, #E6E6FA, #AFDAFC, #B4C7E7);
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Редактирование темы</h1>
        <div class="topics-list">
            @foreach (var topic in Model.Topics)
            {
                <div class="topics-list-item">
                    @topic.TopicTitle
                </div>
            }
        </div>
        <div class="subtopics-list">
            <h2>Подтемы:</h2>
            @foreach (var subtopic in Model.Subtopics)
            {
                <div class="subtopics-list-item">
                    @subtopic.SubtopicTitle
                </div>
            }
        </div>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TopicCode" class="control-label">Код темы:</label>
                <input asp-for="TopicCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SubtopicCode" class="control-label">Код подтемы:</label>
                <input asp-for="SubtopicCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NameSubtopic" class="control-label">Название подтемы:</label>
                <input asp-for="NameSubtopic" class="form-control" />
                <span asp-validation-for="NameSubtopic" class="text-danger"></span>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Сохранить</button>
            </div>
        </form>
    </div>
</body>
</html>
