@model PythonLearningPortal.ViewModels.EditSubtopicViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: "Comic Sans MS", cursive, sans-serif;
            background-image: url('/images/computerinmage.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background: linear-gradient(135deg, #D3CCE3, #E9E4F0, #E6E6FA, #AFDAFC, #B4C7E7);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        label {
            font-weight: bold;
            color: #333;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 10px 20px;
            background-color: #AFDAFC;
            color: #333;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

            .btn:hover {
                background-color: #E9E4F0;
                color: #000;
            }
    </style>
</head>
<body style="background-image: url('/images/computerinmage.jpg');">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TopicCode" class="control-label">Код темы:</label>
                <input asp-for="TopicCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SubtopicCode" class="control-label">Код подтемы:</label>
                <input asp-for="SubtopicCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NameSubtopic" class="control-label">Название подтемы:</label>
                <input asp-for="NameSubtopic" class="form-control" />
                <span asp-validation-for="NameSubtopic" class="text-danger"></span>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Сохранить</button>
            </div>
        </form>
    </div>
</body>
</html>
