<!DOCTYPE html>
<html>
<head>
    <title>Меню для админов</title>
    <style>
        body {
            font-family: 'Anonymous Pro', monospace;
            background: #333;
            margin: 0;
            padding: 0;
        }

        h2 {
            text-align: center;
            color: #fff;
            margin-top: 5px;
        }

        .welcome-message {
            text-align: center;
            margin-top: 30px;
        }

        .menu-container {
            width: 60%;
            margin: 50px auto;
            padding: 30px;
            border-radius: 10px;
            background: linear-gradient(to bottom right, #ff9999, #ff66cc);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 20px;
            color: #fff;
            font-size: 18px;
        }

        select {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: none;
            background-color: #fff;
            color: #333;
            font-size: 16px;
            margin-bottom: 20px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #555;
            }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .return-button {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .return-button:hover {
                background-color: #555;
            }

        p {
            text-align: center;
            color: #FFA8C6;
        }
    </style>
</head>
<body>
    <div class="welcome-message">
        <h2>Добро пожаловать, Админ!</h2>
        <p>Вам предоставлен полный доступ к веб-сайту.</p>
    </div>
    <div class="menu-container">
        <h2>Меню</h2>
        <form method="post" action="/MenuAdmin">
            <label for="page">Выберите страницу:</label>
            <select name="page" id="page">
                <option value="Home/Index">Главная страница</option>
                <option value="Role/Index">Список ролей</option>
                <option value="AccountList">Список аккаунтов</option>
                <option value="UsersList">Список пользователей</option>
                <option value="Exercises/Index">Упражнения</option>
                <option value="Tests/Index">Тесты</option>
                <option value="Topic/Index">Теория</option>
                <option value="EditTopic/Index">Редактирование тем</option>
                <option value="AddTopic/Index">Добавление тем</option>
                <option value="AddSubtopic">Добавление подтем</option>
                <option value="TopicList/Index">Список тем</option>
                <option value="SubtopicList/Index">Список подтем</option>
                <option value="TestsList">Список тестов</option>
                <option value="ExercisesList">Список упражнений</option>
                <option value="DeleteTopic">Удаление тем</option>
                <option value="EditSubtopic">Редактирование подтем</option>
                <option value="DeleteSubtopic">Удаление подтем</option>
            </select>
            <button type="submit">Перейти</button>
        </form>
    </div>
    <div class="button-container">
        <form method="get" action="/Home/Index">
            <button type="submit" class="return-button">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>