<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Упражнения по Python</title>
    <link rel="stylesheet" href="@Url.Content("~/css/exercises.css")">
</head>
<body>
    @section Header {
        <header>
            <h1>Учебник Python</h1>
            <div class="header-buttons">
                <div class="button-container">
                    <form method="get" action="/Home/Index">
                        <button type="submit" class="return-button">Вернуться на главную</button>
                    </form>
                </div>
                <div class="button-container">
                    <form method="get" action="/MenuAdmin/Index">
                        <button type="submit" class="return-button">Вернуться в меню администратора</button>
                    </form>
                </div>
            </div>
        </header>
    }
    <div class="container">
        <h1 class="big-title">Упражнения по Python</h1>

        <div class="exercise">
            <h2 class="main-title">Упражнение №1</h2>
            <p class="text">Напишите программу на Python для печати "Привет, мир!"</p>
            <form id="form1" method="post">
                <label for="code1" class="title">Ваш код на Python:</label><br>
                <textarea id="code1" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(1)">Проверить</button>
            </form>
        </div>

        <div class="exercise">
            <h2 class="main-title">Упражнение №2</h2>
            <p class="text">Напишите программу, в которой пользователь вводит температуру в градусах Цельсия, а программа переводит их в градусы Фаренгей́та. Для перевода применяется формула: \( °F = \left( \frac{9}{5} \right) \times °C + 32 \)</p>
            <form id="form2" method="post">
                <label for="code2" class="title">Ваш код на Python:</label><br>
                <textarea id="code2" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(2)">Проверить</button>
            </form>
        </div>

        <div class="exercise">
            <h2 class="main-title">Упражнение №3</h2>
            <p class="text">Дан список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]. Выведите все элементы, которые меньше 5.</p>
            <form id="form3" method="post">
                <label for="code3" class="title">Ваш код на Python:</label><br>
                <textarea id="code3" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(3)">Проверить</button>
            </form>
        </div>
    </div>
    <script>
        function checkAnswer(exerciseNumber) {
            var userInput = document.getElementById('code' + exerciseNumber).value;
            var correctAnswers = [
                'print("Привет, мир!")',
                '(9/5)*c + 32',
                'for elem in a:\n    if elem < 5:\n        print(elem)',
                'result = [elem for elem in a if elem in b]'
            ];

            if (userInput.trim() === correctAnswers[exerciseNumber - 1].trim()) {
                alert('Правильный ответ!');
            } else {
                alert('Неправильный ответ. Попробуйте еще раз.');
            }
        }
    </script>
</body>
</html>
