@model PythonLearningPortal.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="@Url.Content("~/css/register.css")">
</head>
<body style="background-image: url('/images/register.jpg');">
    <h2>Регистрация</h2>
    <form asp-action="Register" method="post" class="register-container" style="background:linear-gradient(to right, #FCE883, #AFDAFC, #FF8C69); ">
        <!-- Добавляем класс контейнеру формы -->
        <div>
            <label asp-for="Login">Login:</label>
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Confirm Password:</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="RoleCode">Role Code:</label>
            <input asp-for="RoleCode" />
            <span asp-validation-for="RoleCode"></span>
        </div>
        <div>
            <label asp-for="AccountCode">Account Code:</label>
            <input asp-for="AccountCode" />
            <span asp-validation-for="AccountCode"></span>
        </div>
        <div>
            <button type="submit">Зарегистрироваться</button> <!-- Изменено название кнопки -->
        </div>
    </form>
    <div class="button-container">
        @* Кнопка "Вернуться на главную страницу" *@
        <form method="get" action="/Home/Index">
            <button type="submit" class="return-button">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>
