@model PythonLearningPortal.ViewModels.DeleteSubtopicViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('/images/print.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            color: #222;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background: linear-gradient(135deg, #FF8C69, #FF9BAA, #FFB28B, #FCE883, #BEBD7F, #C6DF90, #99FF99, #AFDAFC, #E6E6FA);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #222;
        }

        label {
            font-weight: bold;
            color: #222;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 10px 20px;
            background-color: #FF8C69;
            color: #222;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #FF9BAA;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubtopicCode" class="control-label">Код подтемы</label>
                <input asp-for="SubtopicCode" class="form-control" />
                <span asp-validation-for="SubtopicCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameSubtopic" class="control-label">Название подтемы</label>
                <input asp-for="NameSubtopic" class="form-control" />
                <span asp-validation-for="NameSubtopic" class="text-danger"></span>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Удалить</button>
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</body>
</html>
